body {
    background-color: #242F40;
}

.spacing {
    margin-bottom: 20px;
}

.error {
    background-color: red;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

.title {
    background-color: #CC8500;
    padding: 20px;
    text-align: center;
    color: white;
}

.btn-primary {
    background-color: #CC8500;
    border-color: #CC8500;
}